@charset "UTF-8";

html, body{
	padding: 0;
	margin: 0;
}

html {
    scroll-behavior: smooth;
	font-family: Arial, sans-serif;
}

.header {
	background-color: #1E3A8A;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	position: fixed;
}

.sub-header {
	height: 80px;
	background-color: #1E3A8A;
}

.header-nav .header-nav-item  {
	text-decoration: none;
	color: #FFFFFF;
}

.header-nav {
	display: flex;
    align-items: center;
	margin-right: 20px;
}

.header-nav-item {
	margin: 0px 10px;
	font-size: 20px;
}

.header-nav .now{
	color: #FFD700;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.logo {
	height: 50px;
	margin-left: 20px;
}

.main {
	width: 100%;
	height: 600px;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/main-background-image2.jpg'); 
	background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
	transition: opacity 0.2s cubic-bezier(0, 0, 1, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}

.main {
	text-align: center;
}

.main h1{
	font-size: 80px;
}

.main h2{
	font-size: 30px;
}

.main a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
}

.main a:hover {
	color: #FFD700;
}

h1, h2, p{
	padding: 0;
	margin: 0;
}

.aboutMe, .ValuesAndCareer, .Interest, .Blog, .Contact{
	display: flex;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

.Interest{
	padding-top: 80px;
	background-color: #1E3A8A;
	color: #FFFFFF;
	
}

.Interest .title{
	color: #FFFFFF;
}

.aboutMe .block, .ValuesAndCareer .block, .Interest .block, .Contact .block{
	width: 80%;
	display: flex;
}

.Blog{
	padding-top: 80px;
}

.Blog-item{
	display: flex;
}

.Blog .block{
	width: 80%;
}

.aboutMe-text, .Blog-item-text{
	width: 70%;
	margin: 10px 40px;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #1E3A8A;
}

.aboutMe-img, .Blog-item-img{
	width: 30%;
	display: flex;
	justify-content: right;
}

.aboutMe-img img, .Blog-item-img img{
	max-width: 300px;
	height: auto;
	object-fit: contain;
	margin: 20px;
}

.title{
	color: #1E3A8A;
	font-size: 40px;
}

p{
	font-size: 20px;
	margin: 20px 0px;
	text-align: justify;
}

.ValuesAndCareer .block .Values{
	width: 50%;
	margin: 10px 40px;
}

.ValuesAndCareer .block .Career{
	width: 50%;
	margin: 10px 40px;
}


footer{
	text-align: center;
	background-color: #1E3A8A;
	color: #FFFFFF;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ValuesAndCareer{
	background-color: #FFFFFF;
	color: #1E3A8A;
	padding-top: 100px;
	padding-bottom: 40px;
}

.ValuesAndCareer .title{
	color: #1E3A8A;
}

.Contact{
	background-color: #1E3A8A;
	padding-top: 40px;
	padding-bottom: 20px;
}

.Contact .block, .Contact .title{
	color: #FFFFFF;
}

.contact-table {
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px 0;
}

.contact-table th,
.contact-table td {
    padding: 10px;
    text-align: left;
	font-size: 20px;
}

.contact-table th {
    background-color: #1E3A8A;
    font-weight: bold;
    width: 25%;
}

.contact-table td {
    background-color: #1E3A8A;
}

.Interest .block .text{
	width: 92%;
}

.Interest .block{
	display: flex;
	justify-content: center;
	align-items: center;
}


@media (max-width: 1088px) {
	.menu-toggle {
        display: block;
    }
	.menu {
        display: none;
        flex-direction: column;
        background-color: #1E3A8A;
        position: absolute;
        top: 80px;
        right: 0px;
        padding: 10px;
		width: 100%;
		justify-content: center;
		opacity: 0.9;
    }

    .menu.active {
        display: flex;
    }

	.header-nav-item{
		padding: 20px;
		text-align: center;
	}

	.ValuesAndCareer .block{
		flex-direction: column;
		align-items: center;
		width: 80%;
	}

	.ValuesAndCareer .block .Career, .ValuesAndCareer .block .Values{
		width: 100%;
	}

	.Interest .block .text{
		width: 100%;
	}

	.Blog .block{
		flex-direction: column;
		align-items: center;
		width: 80%;
	}

	.Blog .Blog-item{
		flex-direction: column;
		align-items: center;
	}

	.Blog-item-img{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.Blog-item-text{
		width: 100%;
		margin: 0;
	}
}